.list-group-item:nth-child(odd){
    background-color: #eee !important
}

html, body, #root, .section-container {
    height: 100%
}

body{
    background-color: #1b1b1b;
}

h1, h2, legend{
    color: white;
}

hr{
    border-color:#b2b2b2;
    margin-top: 0 !important; 
}

.ReactTable{
    margin-top: 2%;
    background-color:white
}

.ReactTable .rt-tr-group:nth-child(odd){
    background-color: #eee ;
    border: none;
}
#factsContainer{
    padding: 0 15%;
    padding-bottom: 20%;
}

.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 50%;
}
.image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 350px;
  width: 100%;
}

.card-block{
    height: 230px;
    overflow-y: scroll;
}

#fetchingCharities{
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 48%;
}

@media screen and (max-width: 450px){
    html, body, #root, .section-container {
        height: auto !important;
    }

    #takeAction{
        padding-bottom: 400px;
    }
}