.list-group-item:nth-child(odd){
    background-color: #eee !important
}

html, body, #root, .section-container {
    height: 100%
}

body{
    background-color: #1b1b1b;
}

h1, h2, legend{
    color: white;
}

hr{
    border-color:#b2b2b2;
    margin-top: 0 !important; 
}

.ReactTable{
    margin-top: 2%;
    background-color:white
}

.ReactTable .rt-tr-group:nth-child(odd){
    background-color: #eee ;
    border: none;
}

#factsContainer{
    padding: 0 15%;
    padding-bottom: 20%;
}

#background{
    position: absolute;
    background-image: url("../img/background.jpg");
    background-size: cover;
    width: 100%;
    opacity: 0.3;
    height: 100%;
}

.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 50%;
}

.image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 350px;
  width: 100%;
}

.card-description{
    height: 250px;
    overflow-y: scroll;
}

#fetchingCharities{
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#charities{
    padding-bottom: 20px
}

.progress-bar{
    height: 22px;
    line-height: 22px
}
.progress-label{
    line-height: 22px;
    margin-right: 5px;
    float: left;
    font-style: italic;
}

#takeAction{
    padding-bottom: 200px;
}

#info{
    color: #848484;
    position: fixed;
    left: 95%;
    top: 5%;
}

#scrollTop{
    color: #848484;
  	position: fixed;
  	left: 94.5%;
  	top: 87.5%;
}

#scrollTop:hover{
    color: white;
}

#info:hover{
    color: white;
}

#developer-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 100% 10%;
}

#noCharities{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #8a8a8a;
    transform: translateX(-50%);
}

@media screen and (max-width: 450px){
    html, body, #root, .section-container {
        height: auto !important
    }

    #scrollTop{
        display:none;
    }

    #factsContainer{
        padding: 0 30px;
        padding-bottom: 40px;
    }

    .title{
        font-size: 28px
    }

    .search{
        width: 100%;
    }

    #info{
        left: 90%;
        top: 2%;
        font-size: 30px;
        z-index: 2;
        color: #eee
    }

    #fetchingCharities{
        font-size: 70px;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
    }

    #noCharities{
        position: absolute;
        top: 65%;
        left: 50%;
        color: #8a8a8a;
        transform: translateX(-50%);
    }

}